<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835537399616-21vr1dm5hocg93ak16kcpvih1cbnun45.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835537399616-21vr1dm5hocg93ak16kcpvih1cbnun45</string>
	<key>API_KEY</key>
	<string>AIzaSyCtAtp74BoDnscksOSXJ19F4CV0B3Rfc94</string>
	<key>GCM_SENDER_ID</key>
	<string>835537399616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testTest</string>
	<key>PROJECT_ID</key>
	<string>crypto-929cb</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-929cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835537399616:ios:f6ecafb50b9e104fc754a5</string>
</dict>
</plist>